* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* header starts */

header{
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  display: grid;
  grid-template-columns: 1.1fr 0.1fr 1.1fr 0.1fr;
}

header a {
  color: white;
}


#headerHomeIcon {
  justify-self: start;
}

#headerTitle {
  justify-self: center;
}

#headerCartIcon {
  justify-self: end;
}


/* header ends */

/* section starts */
/* container for flex box */

section {
  display: -webkit-flex;
  display: flex;
}

/* section ends */


/* nav starts */

nav {
  -webkit-flex: 0.5;
  -ms-flex: 0.5;
  flex: 0.1;
  background: #ccc;
  padding: 20px;
}
/* 
nav ul {
  list-style-type: none;
  padding: 0;
  cursor: pointer;
}

nav ul li {
  padding-bottom: 5px;
} */



/* nav ends */

/* footer starts */

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

footer a {
  color: white ;
}

/* footer ends */


#search {
  display:flex;
}

#search input {
  margin-left: 10px;
  height: 30px;
  margin-top: 5px;
}